*{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 10vh;
    padding: .5rem;
    
}
main {
    min-height: 82vh;
    background-color: #7fffd4;
}

footer{
    height: 8vh;
}
div {
    width: 600px;
    height: 600px;
}

div div.box {
    width: calc(100%/10);
    height: calc(100%/10);
    border: 1px solid black;
    cursor: crosshair;
}

.font-red{
    color: red;
}

main img{
    max-width: 50px;
    max-height: 50px;
}